
<div id="content">
    <spnav-bar></spnav-bar>
    <md-toolbar md-colors="{background: 'blue'}">
        <div class="md-toolbar-tools">

            <h2>
                <span>Sponsor Profile</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <!-- Main content -->
    <section class="content" ng-init="loadSponsor()">
    

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div class="box-body box-profile">
                        <span>
                            <img ng-click="triggerUpload()" class="profile-user-img img-responsive img-circle" style="width: 75px; height: 75px;" ng-src="Content/BursifyUploads/{{User.ID}}/images/{{User.ProfilePicturePath}}" alt="Sponsor profile picture" />
                            <md-tooltip md-direction="left" style="padding-left: 105px;">
                                Click to update
                            </md-tooltip>
                        </span>
                        <input type="file" ng-file-select="prepareImage($files)" style="display:none" id="fileInput" name="filedata" />
  
                    
                      <h3 class="profile-username text-center">{{usersa.Name}}</h3>
                        <p class="text-muted text-center"></p>

                        <!-- About Me Box -->
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align: center">Sponsor Details</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i>  Name</strong>
                                <p class="text-muted">
                                    {{Sponsor.CompanyName}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                                <p class="text-muted">{{Sponsor.Location}}</p>

                                <hr>

                                <strong><i class="fa fa-building margin-r-5"></i> Industry</strong>
                                <p class="text-muted">{{Sponsor.Location}}</p>

                               
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->


                    </div><!-- /.box-body -->
                </md-card>


            </div><!-- /.col -->
            <div class="col-md-9">
                <div class="panel">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Personal Details">
                            <md-content class="md-padding">
                                <form role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
                                    <div class="box-body">
                                        <md-input-container class="md-icon-float md-block">
                                            <!-- Use floating label instead of placeholder -->
                                            <label>Name</label>
                                            <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input value="{{Sponsor.CompanyName}}" type="text"></>
                                        </md-input-container>

                                      
                                        <md-input-container class="md-block">
                                            <label>Description</label>
                                            <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <textarea ng-model="user.Biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                        </md-input-container>


                                    </div><!-- /.box-body -->

                                    <div>

                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contact Details">
                            <md-content class="md-padding">

                                <div class="box-body">
                                    <md-input-container class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Email</label>
                                        <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                        <input value="{{Sponsor.CompanyEmail}}" type="text"></>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Website</label>
                                        <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                        <input value="{{Sponsor.Website}}" type="text"></>
                                    </md-input-container>
                                    


                                </div><!-- /.box-body -->
                                <div>

                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </md-content>
                        </md-tab>
                      
                    </md-tabs>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
