<div id="content">
    <spnav-bar ng-init="loadSponsors()"></spnav-bar>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Bursify Sponsor Leaderboard</div>
    </md-toolbar>
    <md-content style="height: 600px;" md-theme="altTheme" class="md-padding">



        <md-list-item class="md-3-line" ng-if="Sponsors[0]">

            <img src="../../../../../Content/chart/1.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[0].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[0].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>

        <md-list-item class="md-3-line" ng-if="Sponsors[1]">

            <img src="../../../../../Content/chart/2.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[1].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[1].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>

        <md-list-item class="md-3-line" ng-if="Sponsors[2]">

            <img src="../../../../../Content/chart/3.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[2].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[3]">

            <img src="../../../../../Content/chart/4.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[3].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[4]">

            <img src="../../../../../Content/chart/5.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[4].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[5]">

            <img src="../../../../../Content/chart/6.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[5].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>

        <md-list-item class="md-3-line" ng-if="Sponsors[6]">

            <img src="../../../../../Content/chart/7.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[6].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[7]">

            <img src="../../../../../Content/chart/8.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[7].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[8]">

            <img src="../../../../../Content/chart/9.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[8].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>


        <md-list-item class="md-3-line" ng-if="Sponsors[9]">

            <img src="../../../../../Content/chart/10.png" width="50" height="64" alt="{{message.who}}">
            <div class="md-list-item-text">
                <div class="row">
                    <div class="col-md-10">
                        <h1 style="margin-left: 200px; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{Sponsors[2].CompanyName}}</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">+{{Sponsors[9].BursifyScore}}</h2>
                    </div>
                </div>
            </div>

        </md-list-item>




        <div style="text-align: justify; font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            Points are granted to sponsors according to their activity on the system. A number of actions on the system grant the sponsor points. The more active and supportive sponsors are the more points they gain from the system. Below is a brief break down of the points system:
            <ol>
                <li>Create an account = 5 points</li>
                <li>Create a Bursify Sponsorship = 5 points</li>
                <li></li>
            </ol>
            We at the Bursify team would like to express our gratitude to all sponsors on the system that have contributed greatly to the cause of student funding. We know without your support this sytem would not reach it's full potential.
        </div>
    </md-content>
</div>