<div id="content" style="background-color: white">
    <spnav-bar></spnav-bar>
    <div id="loadingbarContainer"></div>

    <style>
        .panel{
            margin-bottom: 0px;
        }
        .selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
    </style>
  
    <md-content class="md-padding">
        <form>
            <div id="details">
                <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background: 'deep-purple'}">

                        <h2>
                            <span>Sponsorship Details</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div class="panel-heading bg-white border-none">
                    <h4><span class="icon-notebook icons"></span> Provide sponsorship details below.</h4>
                </div>
                <div class="col-md-12">

                    <div class="form-group form-animate-text" style="margin-top:5px !important;">
                        <input type="text" class="form-text" ng-model="Sponsorship.Name" id="validate_firstname" name="validate_firstname" required="">
                        <span class="bar"></span>
                        <label>Sponsorship Name</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group form-animate-text" style="margin-top:5px !important;">
                        <textarea type="text" ng-model="Sponsorship.Description" class="form-text" id="validate_firstname" name="validate_firstname" required="" rows="5" />
                        <span class="bar"></span>
                        <label>Give a brief description of the sponsorship</label>
                    </div>
                </div>
               
                    
                

                <div class="row">
                  

                        <div class="col-md-3">
                            <md-input-container>
                                <label>Sponsorship Type</label>

                                <md-select ng-model="selectedField" style="min-width: 200px;">
                                   
                                    <md-optgroup label="Sponsorship Type">
                                        <md-option ng-value="field" ng-repeat="field in fields">{{field}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container>
                                <label>Education Level</label>

                                <md-select ng-model="selectedField" style="min-width: 200px;">

                                    <md-optgroup label="Education Level">
                                        <md-option ng-value="field" ng-repeat="field in fields">{{field}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container>
                                <label>Province</label>
                                <md-select ng-model="selectedProvince"
                                           md-on-close="clearSearchTermP()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           style="min-width: 200px;">

                                    <md-optgroup label="Provinces">
                                        <md-option ng-value="province" ng-repeat="province in provinces">{{province}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container>
                                <label>Age group</label>
                                <md-select ng-model="selectedAgeGroup"
                                           md-on-close="clearSearchTermA()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           style="min-width: 150px;">

                                    <md-optgroup label="Age Groups">
                                        <md-option ng-value="age" ng-repeat="age in ages">{{age}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                      
                       

                        <div class="col-md-12 ">
                            <label>Relevant Study Fields</label>
                            <div class="form-group form-animate-text" style="margin-top:5px !important;">
                                <md-tooltip md-direction="bottom">
                                    Select many
                                </md-tooltip>
                                <md-input-container class="md-block">
                                    <md-select placeholder="Select relevant study fields." ng-model="Student.StudyFields" md-on-open="loadFields()" style="min-width: 200px;" required multiple>
                                        <md-option ng-value="field" ng-repeat="field in fields | orderBy:'name'">{{field.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                
                   
                
                <div id="submit1">

                    <div class="col-md-10">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink"  ng-model="Sponsorship.EssayRequired" class="md-primary">
                            Motivational Essay Required
                        </md-checkbox>
                   

                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <md-switch ng-model="data.cb1" aria-label="Switch 1">
                                Advanced Preferences
                            </md-switch>

                        </md-input-container>
                    </div>
                </div>
            </div>


            <div id="advanced" ng-if="data.cb1">
                <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background: 'red'}">

                        <h2>
                            <span>Advanced Preferences</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div class="panel-heading bg-white border-none">
                    <h4><span class="icon-notebook icons"></span> Turn on to set advanced preference.</h4>
                </div>

                <div class="panel box-v1">
                  

                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Preference</label>
                            </div>
                            <div class="col-md-4">
                                <label>Setting</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container>
                                    Gender
                                    <md-switch ng-model="data.cbGender" aria-label="Switch 1">

                                    </md-switch>

                                </md-input-container>
                            </div>
                            <div class="col-md-4" ng-if="data.cbGender">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Male</label>
                                </div>
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Female</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container>
                                    Race
                                    <md-switch ng-model="data.cbRace" aria-label="Switch 1">

                                    </md-switch>

                                </md-input-container>
                            </div>
                            <div class="col-md-4" ng-if="data.cbRace">

                                <md-input-container>
                                    <label>Race</label>
                                    <md-select ng-model="selectedRace"
                                               md-on-close="clearSearchTermA()"
                                               data-md-container-class="selectdemoSelectHeader"
                                               style="min-width: 250px;">

                                        <md-optgroup label="Race">
                                            <md-option ng-value="race" ng-repeat="race in races">{{race}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <br />
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container>
                                    Institution
                                    <md-switch ng-model="data.cbRace" aria-label="Switch 1">

                                    </md-switch>

                                </md-input-container>
                            </div>
                            <div class="col-md-4" ng-if="data.cbRace">

                                <md-input-container>
                                    <label>Place of study</label>
                                    <md-select ng-model="selectedRace"
                                              
                                               style="min-width: 250px;">

                                        <md-optgroup label="Instituition">
                                            <md-option ng-value="" ng-repeat="race in races">{{race}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <br />
                        </div>


                    </md-content>


                </div>



            </div>

            <div id="terms">
                <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background: 'blue'}">

                        <h2>
                            <span>Terms &amp; Conditions</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div class="panel-heading bg-white border-none">
                    <h4><span class="icon-notebook icons"></span> Please give all terms &amp; conditions students must adhere to upon acceptance</h4>
                </div>



                <div class="col-md-12">
                    <div class="form-group form-animate-text" style="margin-top:5px !important;">
                        <textarea ng-model="Sponsorship.TermsAndConditions" type="text" class="form-text" id="validate_firstname" name="validate_firstname" required="" rows="10" placeholder="Terms & Conditions"/>
                        <span class="bar"></span>
                        
                    </div>
                </div>




            </div>

            <div id="requirements" style="background-color: white">
                <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background: 'deep-purple'}">

                        <h2>
                            <span>Sponsorship Requirements</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div class="panel box-v1">
                    <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-notebook icons"></span>Specify subject requirements for high school students.</h4>
                    </div>

                    <md-content class="md-padding">
                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">

                                    <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option>--Subject--</option>
                                        <option>Maths</option>
                                        <option>English</option>
                                        <option>Physical Science</option>
                                        <option>Afrikaans</option>
                                        <option>Life Orientation</option>
                                        <option>Geography</option>
                                        <option>Business</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="%">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">

                                    <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option>--Subject--</option>
                                        <option>Maths</option>
                                        <option>English</option>
                                        <option>Physical Science</option>
                                        <option>Afrikaans</option>
                                        <option>Life Orientation</option>
                                        <option>Geography</option>
                                        <option>Business</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="%">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">

                                    <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option>--Subject--</option>
                                        <option>Maths</option>
                                        <option>English</option>
                                        <option>Physical Science</option>
                                        <option>Afrikaans</option>
                                        <option>Life Orientation</option>
                                        <option>Geography</option>
                                        <option>Business</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="%">
                                </div>
                            </div>
                        </div>





                    </md-content>


                </div>
            </div>


            <div id="offer">
                <md-toolbar md-colors="{background: 'blue'}">
                    <div class="md-toolbar-tools">

                        <h2>
                            <span>Sponsorship benefits</span>
                        </h2>
                        <span flex></span>
                    </div>


                </md-toolbar>


                <div class="panel box-v2">
                    <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-notebook icons"></span> Tick what this bursary covers.</h4>
                    </div>

                    <md-content class="md-padding">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Registration</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Examination Fees</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Tuition Fees</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Books</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Accomodation</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Living Allowance</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Laptop Allowance</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-animate-checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <label>Transport</label>
                                </div>
                            </div>
                        </div>

                       


                    </md-content>



                </div>




            </div>

            <div id="Closing">
                <md-toolbar md-colors="{background: 'deep-purple'}">
                    <div class="md-toolbar-tools">

                        <h2>
                            <span>Closing Date</span>
                        </h2>
                        <span flex></span>
                    </div>


                </md-toolbar>


                <div class="panel box-v2">
                    <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-notebook icons"></span> Date to stop accepting applications.</h4>
                    </div>

                    <div class="col-md-6">

                        <md-input-container>
                            <md-datepicker ng-model="Sponsorship.ClosingDate" md-placeholder="Starting date"></md-datepicker>

                        </md-input-container>
                    </div>

                    <div class="col-md-6">

                        <md-input-container>
                            <md-datepicker ng-model="Sponsorship.ClosingDate" md-placeholder="Closing date"></md-datepicker>

                        </md-input-container>
                    </div>

                    <div id="submit1">

                        <div class="col-md-offset-10">

                            <md-button class="md-raised" md-colors="{background: 'teal'}">Submit Sponsorship</md-button>
                        </div>

                    </div>

</div>
                </div>


        </form>
       </md-content>



     
    </div>

