<div id="loadingbarContainer"></div>
<div id="content" ng-init="loadStudent()">
    <spnav-bar></spnav-bar>
    <md-toolbar class="md-table-toolbar" md-colors="{backgroundColor: 'blue'}">
        <div class="md-toolbar-tools">
            <span>{{Student.Student.Firstname}} {{Student.Student.Surname}}'s Profile</span>
            <span flex></span>
           
        </div>
    </md-toolbar>

     

    <section class="content">

        <div class="row">
            <div class="col-md-4">

                <!-- Profile Image -->
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" style="width: 190px; height: 140px;" ng-src="Content/BursifyUploads/{{Student.ID}}/images/{{Student.ProfilePicturePath}}" alt="Student profile picture">
                        <h3 class="profile-username text-center">{{Student.Student.Firstname}} {{Student.Student.Surname}}</h3>
                        <h4 class="text-muted text-center">{{Student.Student.Age}} yrs old.</h4>

                        <p class="text-muted text-center">{{Student.Student.EducationLevel}} Student</p>

                        <!-- About Me Box -->
                        <div class="box box-success">
                         
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
                                <p class="text-muted" ng-if="Student.Student.CurrentOccupation == 'High School'">
                                    High School student at {{recentReports[0].ReportInstitution}}
                                </p>
                                <p class="text-muted" ng-if="Student.Student.CurrentOccupation == 'Tertiary'">
                                    {Qualification} student at {Insti}
                                </p>
                                <hr>

                                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                                <p class="text-muted">{{Student.Addresses[0].City}}, {{Student.Addresses[0].Province}}</p>

                                <hr>

                                <strong><i class="fa fa-file-text-o margin-r-5"></i>Headline</strong>
                                <p>{{Student.Student.Headline}} </p>

                            </div><!-- /.box-body -->
                       
                        </div><!-- /.box -->

                        
                    </div><!-- /.box-body -->
                    <md-button class="md-primary" style="width: 96%">
                        <md-icon md-svg-src="/content/img/icons/application-form.svg" class="name"></md-icon>
                        Reccommend Sponsorship
                    </md-button>
                </md-card>


            </div><!-- /.col -->
            <div class="col-md-8">
                <div class="panel">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="About">
                            <md-content class="md-padding">
                                <form role="form" novalidate angular-validator name="StudentProfileForm" angular-validator-submit="saveDetails()">
                                    <div class="box-body">

                                        <md-input-container class="md-block">
                                            <label>Biography</label>
                                            <md-icon md-svg-src="/content/img/icons/bio.svg" class="name"></md-icon>
                                            <textarea ng-model="Student.Biography" md-maxlength="500" rows="5" md-select-on-focus disabled></textarea>
                                        </md-input-container>


                                    </div><!-- /.box-body -->


                                </form>
                            </md-content>
                        </md-tab>

                        <md-tab label="Education">

                            <md-content class="md-padding">
                                <md-list>
                                    <md-subheader class="md-no-sticky" style="background-color: cadetblue; color: white; font-size: 14px;">Study Fields of Interest</md-subheader>


                                    <md-list-item>
                                        <p ng-repeat="study in Fields"> {{study}} </p>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky" style="background-color: cadetblue; color: white; font-size: 14px;">Analytics - Student Progress</md-subheader>
                                    <md-content class="md-padding">

                                        <div class="chart-container">
                                            <div fusioncharts
                                                 width="100%"
                                                 height="400"
                                                 type="line"
                                                 dataSource="{{myDataSource}}">
                                            </div>
                                        </div>

                                    </md-content>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky" style="background-color: cadetblue; color: white; font-size: 14px;">Subjects - Most Recent Results</md-subheader>
                                    <div class="chart-container">
                                        <div fusioncharts
                                             width="100%"
                                             height="350"
                                             type="bar2d"
                                             dataSource="{{myDataSource2}}">
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list>
                            </md-content>
                        </md-tab>

                        <md-tab label="Reports">

                            <md-content class="md-padding">


                            </md-content>
                        </md-tab>


                        <md-tab label="Contact Details">

                            <md-content class="md-padding">


                            </md-content>
                        </md-tab>

                                <md-tab label="Campaigns">

                                    <md-content class="md-padding">
                                        <p ng-show="!Campaigns.length">Student is yet to start a campaign.</p>
                                        <md-card ng-repeat="camp in Campaigns">
                                            <md-card-title>
                                                <md-card-title-media>
                                                    <div class="md-media-lg card-media" layout>
                                                        <img class="img-responsive img-lg" ng-src="Content/images/campaign/1.jpg" alt="Student profile picture">

                                                    </div>
                                                </md-card-title-media>
                                                <md-card-title-text style="padding-left: 25px;">
                                                    <span class="md-headline">{{camp.CampaignName}}</span>
                                                    <span class="md-subhead description">{{camp.Tagline}} Then I'll make an executive decision and say you are released from further labour</span>
                                                </md-card-title-text>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <div>

                                                        <div>
                                                            <p>R{{camp.AmountContributed}}.00</p>
                                                            <p>Raised of R{{camp.AmountRequired}}.00</p>
                                                        </div>

                                                        <md-progress-linear md-mode="determinate" value="{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}"></md-progress-linear>


                                                    </div>
                                                    <md-button ng-href="#/student/campaign-details/{{camp.CampaignId}}">View</md-button>
                                                </md-card-actions>
                                            </md-card-title>
                                        </md-card>
                                    </md-content>
                                </md-tab>
                    </md-tabs>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
       



    
</div>
