@{
    ViewBag.Title = "Home Page";
    
}


<!-- Header -->
<header style="background-color: grey;">

    <!-- Slider -->
    <div class="boxed-width home-slider">
        <div class="slider">
            <ul class="slides">
                <!-- slide -->
                <li>
                    <div class="slide">
                        <span class="main-slider-title">

                            <span class="big-slider-title rubik-text uppercase white-text"><div> Swiftly </div> find bursaries</span>
                        </span>
                        <p class="white-text" style="margin:20px 0">
                            We believe that no one's finances should hinder their education. Be discovered. Be inspired. Motivate.
                        </p>
                        <a href="" class="btn white" style="margin-left: 5px;margin-right: 5px"><span>learn more</span></a>
                        <a href="" class="btn empty" style="margin-left: 5px;margin-right: 5px"><span>sign up now</span></a>
                    </div>
                </li>
                <!-- end slide -->
                <!-- slide -->
                <li>
                    <div class="slide">
                        <span class="main-slider-title">
                            <span class="big-slider-title rubik-text uppercase white-text"><div>Go </div> Mobile</span>
                        </span>
                        <p class="white-text" style="margin:20px 0">
                            Take bursify with you wherever you go with our Android and iOS app. Free to download !
                        </p>
                        <a href="" class="btn white" style="margin-left: 5px;margin-right: 5px"><span>Download Now</span></a>
                    </div>
                </li>
                <!-- end slide -->
                <!-- slide -->
                <li>
                    <div class="slide">
                        <span class="main-slider-title">
                            <span class="big-slider-title rubik-text uppercase white-text"><div>Get</div> connected</span>
                        </span>
                        <p class="white-text" style="margin:20px 0">
                            Bursify is the perfect platform for companies looking to sponsor students education. We guarantee a suitable applicant for your programme.
                        </p>
                        <a href="" class="btn white" style="margin-left: 5px;margin-right: 5px"><span>learn more</span></a>
                        <a href="" class="btn empty" style="margin-left: 5px;margin-right: 5px"><span>Sign Up</span></a>
                    </div>
                </li>
                <!-- end slide -->
                <!-- slide -->
                <li>
                    <div class="slide">
                        <span class="main-slider-title">
                            <span class="big-slider-title rubik-text uppercase white-text"><div>Raise</div> funding</span>
                        </span>
                        <p class="white-text" style="margin:20px 0">
                            Crowd fund for your various academic needs. Compassion and Humanity.
                        </p>
                        <a href="" class="btn white" style="margin-left: 5px;margin-right: 5px"><span>View Projects</span></a>
                        <a href="" class="btn empty" style="margin-left: 5px;margin-right: 5px"><span>Create Project</span></a>
                    </div>
                </li>
                <!-- end slide -->
            </ul>
        </div>

        <!-- slider arrows -->
        <div class="arrows">
            <div class="container">
                <!-- next -->
                <div class="white-text next-arrow"><i class="icon ion-ios-arrow-thin-right"></i></div>
                <!-- previous -->
                <div class="white-text prev-arrow"><i class="icon ion-ios-arrow-thin-left"></i></div>
            </div>
        </div>
    </div>
    <!-- End of Slider -->
</header>

<!-- Services Section -->
<section id="Campaigns">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Campaigns</h2>
                <h3 class="section-subheading text-muted">Crow funding for your academic needs.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Start a Campaign</h4>
                <p class="text-muted">Students...</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Raise Funds</h4>
                <p class="text-muted">Raise...</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Complete your project</h4>
                <p class="text-muted">Complete...</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>


