@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="BursifyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bursify</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/j")
   
</head>
<<<<<<< HEAD
<body ng-controller="rootCtrl">
=======
<body ng-controller="rootCtrl" id="mimin" class="dashboard">

>>>>>>> 64c3c32a16b391f83495a50a99aa05d0733809b2

    <div class="page {{ pageClass }}" ng-view></div>



    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")


</body>
</html>
