
<div>

    <div class="header">
        <div class="navbar navbar-inverse header navbar-fixed-top" md-colors="{background: 'red'}" role="navigation">
            <div class="container-fluid">
               
                <a class="navbar-brand" style="margin-left: 15px; margin-top: 5px">
                    Bursify
                </a>
                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name" style="color:white"><span>Admin</span></li>
                    <md-button ng-href="#/login"><i style="margin-top: 5px;" class="fa fa-2x fa-power-off"></i></md-button>
                </ul>

            </div>

        </div>

    </div>

  
</div>