<div>
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="index.html" class="navbar-brand">
                    <b>Bursify</b>
                </a>

                <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                            <div class="form-group form-animate-text">
                                <input type="text" class="form-text" required>
                                <span class="bar"></span>
                                <label class="label-search" style="color: azure;">Type anywhere to <b>Search</b> </label>

                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name"><span>Mike Ross</span></li>
                    <li class="dropdown avatar-dropdown">


                        <img src="" class="img-circle avatar " alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
                        <ul class="dropdown-menu user-dropdown">
                            <li><a href="/Profile/EditProfile"><span class="fa fa-user"></span> My Profile</a></li>
                            <li><a href="#"><span class="fa fa-calendar"></span> My Campaigns</a></li>

                            <li class="more">
                                <ul>
                                    <li><a href=""><span class="fa fa-cogs"></span></a></li>
                                    <li><a href=""><span class="fa fa-lock"></span></a></li>
                                    <li><a href=""><span class="fa fa-power-off "></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" class="opener-right-menu"><span class="fa fa-bell-o"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->

    <div class="container-fluid mimin-wrapper">

        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li>
                        <div class="left-bg"></div>
                    </li>

                    <li class="active ripple">
                        <a class="tree-toggle nav-header" href="/Bursify/Home"><span class="fa-home fa"></span> Home </a>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header"><span class="fa-area-chart fa"></span> Sponsorships<span class="fa-angle-right fa right-arrow text-right"></span></a>
                        <ul class="nav nav-list tree">
                            <li><a href="#">View Sponsorships</a></li>
                            <li><a href="#">My Sponsorships</a></li>
                            <li><a href="#">My Applications</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header"><span class="fa-area-chart fa"></span> Campaigns<span class="fa-angle-right fa right-arrow text-right"></span></a>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Live Campaigns</a></li>

                            <li><a href="/Campaign/AddCampaign">Create Campaign</a></li>
                        </ul>
                    </li>

                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-envelope-o"></span> Connections </a></li>
                    <li><a href="#"><span class="fa fa-wrench"></span>Settings</a></li>
                    <li><a href="/Auth/Login"><span class="icons icon-power"></span>Sign Out</a></li>
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->
    </div>
</div>
