<div>
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <a href="index.html" class="navbar-brand">
                    <b>BURSIFY</b>
                </a>
                <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                            <div class="form-group form-animate-text">
                                <input class="form-text" required="" type="text">
                                <span class="bar"></span>
                                <label class="label-search" style="color: white">Type anywhere to <b>Search</b> </label>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name"><span>Akihiko Avaron</span></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->
</div>