
<div id="loadingbarContainer" ng-init="LoadSP()"></div>
<div id="content">
    <spnav-bar></spnav-bar>  
   
    <md-toolbar md-colors="{background: 'blue'}">
        <div class="md-toolbar-tools">
           
            <h2>
                <span>Your Sponsorships</span>
            </h2>
            <span flex></span>
            <md-menu md-offset="0 -7">
                
                <md-button aria-label="Open demo menu" class="md-raised" ng-click="showAdvanced($event)">
                   Add A Sponsorship
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="level in levels">
                        <md-button ng-click="announceClick($index)"> <span md-menu-align-target>{{level.name}}</span>  </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
  
    <div class="col-md-12">
        <div class="col-md-4" ng-repeat="Sponsorship in Sponsorships">
            <md-card class="_md">
                
                <img ng-src="Content/images/campaign/1.JPG" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{Sponsorship.Name}}</span>
                        <span class="md-title">{{Sponsorship.NumberOfViews}}</span>
                        <span class="md-subhead">{{Sponsorship.ClosingDate}} closing Date</span>
                       
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                    <md-button class="md-icon-button md-primary" aria-label="Settings">
                        <md-icon md-svg-icon="Content/img/icons/menu.svg"></md-icon>
                        <md-tooltip md-direction="bottom">
                           Edit
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-primary" aria-label="Settings">
                        <md-icon md-svg-icon="Content/img/icons/launch.svg"></md-icon>
                        <md-tooltip md-direction="bottom">
                            Share
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-primary" aria-label="Settings">
                        <md-icon md-svg-icon="social:people" style="color: #00F;" class="s48" aria-label="People Icon"></md-icon>
                        <md-tooltip md-direction="bottom">
                           View Applicants
                        </md-tooltip>
                    </md-button>

                </md-card-actions>
                <md-card-content>
                    <p style="height:55px">
                        {{Sponsorship.Description | limitTo: 140}}...
                    </p>
                </md-card-content> 
            </md-card>
        </div>
       

    </div>
</div>