<nav-bar></nav-bar>


<div id="content">
    <md-toolbar class="md-table-toolbar" md-colors="{backgroundColor: 'teal-700'}">
        <div class="md-toolbar-tools">
            <span>My Profile</span>
        </div>
    </md-toolbar>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div class="box-body box-profile">
                        <img class="profile-Student-img img-responsive img-circle" style="width: 75px; height: 75px;" ng-src="Content/assets/img/mike.jpg" alt="Student profile picture">
                        <h3 class="profile-Studentname text-center">{{Student.Firstname}} {{Student.Surname}}</h3>
                        <p class="text-muted text-center">{{Student.EducationLevel}} Student</p>
                       
                        <!-- About Me Box -->
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align: center">About Me</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
                                <p class="text-muted" ng-if="Student.CurrentOccupation == 'High School'">
                                    High School student at {Name of School}
                                </p>
                                <p class="text-muted" ng-if="Student.CurrentOccupation == 'Tertiary'">
                                    {Qualification} student at {Insti}
                                </p>
                                <hr>

                                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                                <p class="text-muted">{city}, {Province}</p>

                                <hr>

                                <strong><i class="fa fa-file-text-o margin-r-5"></i>Headline</strong>
                                <p>{{Student.Headline}} </p>
                               
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->


                    </div><!-- /.box-body -->
                </md-card>


            </div><!-- /.col -->
            <div class="col-md-9">
                <div class="panel">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Personal Details" >
                            <md-content class="md-padding">
                                <form role="form" novalidate angular-validator name="StudentProfileForm" angular-validator-submit="saveDetails()">
                                    <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container  class="md-icon-float md-block">
                                                <!-- Use floating label instead of placeholder -->
                                                <label>Firstname</label>
                                                <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                                <input ng-model="Student.Firstname"  type="text"></>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container  class="md-icon-float md-block">
                                                <!-- Use floating label instead of placeholder -->
                                                <label>Surname</label>
                                               
                                                <input ng-model="Student.Surname" type="text"></>
                                            </md-input-container>
                                        </div>
                                    </div>
                                        
                                      

                                        <md-input-container class="md-icon-float md-block">
                                            <!-- Use floating label instead of placeholder -->
                                            <label>Headline</label>
                                            <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="Student.Headline" type="text">
                                        </md-input-container>
                                      
                                        <md-input-container class="md-block">
                                            <label>Biography</label>
                                            <md-icon md-svg-src="/content/img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <textarea ng-model="Student.Biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                        </md-input-container>


                                    </div><!-- /.box-body -->

                                    <div class="col-md-offset-10">
                                        <md-button md-no-ink class="md-primary md-raised"  md-colors="{backgroundColor: 'teal'}" ng-click="saveDetails()">Save</md-button>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contact Details">
                            <md-content class="md-padding">

                                <div class="box-body">
                                    <label>My Contact Details</label>
                                    <md-input-container ng-model="Student.CellphoneNumber" class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Phone Number</label>
                                        <md-icon md-svg-src="/content/img/icons/ic_phone_24px.svg" class="name"></md-icon>
                                        <input value="" type="text"></>
                                    </md-input-container>
                                    <md-input-container    class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Email Address</label>
                                        <md-icon md-svg-src="/content/img/icons/ic_email_24px.svg" class="name"></md-icon>
                                        <input ng-model="Student.Email" type="text"></>
                                    </md-input-container>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Gaurdain</label>
                                            <md-input-container  class="md-icon-float md-block">
                                                <!-- Use floating label instead of placeholder -->
                                                <label>Phone Number</label>
                                                <md-icon md-svg-src="/content/img/icons/ic_phone_24px.svg" class="name"></md-icon>
                                                <input  ng-model="Student.GaurdianPhoneNumber"  type="text"></>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Relationship</label>
                                                <md-input-container class="md-block">
                                                    <md-select ng-model="Student.GaurdianRelationship" md-on-open="loadRelates()" style="min-width: 200px;" required>
                                                        <md-option ng-value="relate.name" ng-repeat="relate in relates">{{relate.name}}</md-option>
                                                    </md-select>
                                                </md-input-container>

                                            </div>
                                        </div>

                                    </div>
                                    <md-input-container  class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Email Address</label>
                                        <md-icon md-svg-src="/content/img/icons/ic_email_24px.svg" class="name"></md-icon>
                                        <input  ng-model="Student.GaurdianEmail" type="text"></>
                                    </md-input-container>
                                    <label>Address</label>

                                    <div class="row">
                                         <div class="col-md-6">

                                            <md-input-container class="md-block">
                                                <md-icon md-svg-icon="communication:location-on" class="name"></md-icon>
                                                <md-select placeholder="Province" ng-model="CDetails.Province" md-on-open="loadProvinces()" style="min-width: 200px;" required>
                                                    <md-option ng-value="province.name" ng-repeat="province in provinces">{{province.name}}</md-option>
                                                </md-select>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <md-input-container ng-model="CDetails.StreetAddress" class="md-icon-float md-block">
                                                    <!-- Use floating label instead of placeholder -->
                                                    <label>City</label>
                                                   
                                                    <input value="" type="text"></>
                                                </md-input-container>

                                            </div><!-- /.form-group -->
                                        </div>
                                       

                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <md-input-container   class="md-icon-float md-block">
                                                <!-- Use floating label instead of placeholder -->
                                                <label>Street Address</label>
                                                <md-icon md-svg-icon="communication:location-on" class="name"></md-icon>
                                                <input ng-model="CDetails.StreetAddress" value="" type="text"></>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-icon-float md-block">
                                                <!-- Use floating label instead of placeholder -->
                                                <label>Postal Code</label>
                               
                                                <input  ng-model="CDetails.PostalCode"  type="number"/>

                                            </md-input-container>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-offset-10">
                                    <md-button md-no-ink class="md-primary" md-colors="{backgroundColor: 'teal'}" ng-click="saveContact()">Save</md-button>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Education">
                            <md-content class="md-padding">
                                <form role="form" novalidate angular-validator name="StudentProfileForm" angular-validator-submit="saveDetails()">
                                    <div class="box-body">
                                        <label>What are you currently doing.</label>
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-md-12">
                                                    <md-radio-group ng-model="Student.CurrentOccupation" layout="row" required>
                                                        <md-radio-button value="High School" class="md-primary">High School</md-radio-button>
                                                    
                                                        <md-radio-button value="Tertiary">Tertiary</md-radio-button>
                                                        <md-radio-button value="Unemployed ">Unemployed</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                                <div class="col-md-12" ng-if="Student.CurrentOccupation == 'High School'">
                                                    <div class="col-md-8">
                                                        <md-input-container class="md-block">
                                                            <md-select placeholder="School" ng-model="Student.ResProvince" md-on-open="loadProvinces()" style="min-width: 200px;" required>
                                                                <md-option ng-value="province" ng-repeat="province in provinces">{{province.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <md-input-container class="md-block">
                                                            <md-select placeholder="Grade" ng-model="Student.ResProvince" md-on-open="loadProvinces()" style="min-width: 200px;" required>
                                                                <md-option ng-value="province" ng-repeat="province in provinces">{{province.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>

     
                                                <div class="col-md-12" ng-if="Student.CurrentOccupation == 'Tertiary'">
                                                    <div class="col-md-6">
                                                        <md-input-container class="md-block">
                                                            <md-select placeholder="Varsity" ng-model="Student.ResProvince" md-on-open="loadProvinces()" style="min-width: 200px;" required>
                                                                <md-option ng-value="province" ng-repeat="province in provinces">{{province.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <md-input-container class="md-icon-float md-block">
                                                            <md-select placeholder="Level" ng-model="Student.ResProvince" md-on-open="loadProvinces()" style="min-width: 200px;" required>
                                                                <md-option ng-value="province" ng-repeat="province in provinces">{{province.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <md-input-container class="md-icon-float md-block">
                                                            <label>Name of Qualification</label>
                                                            <input value="{{}}" type="text"></>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                      


                                    </div><!-- /.box-body -->

                                    <div class="col-md-offset-10">
                                        <md-button md-no-ink class="md-primary" md-colors="{backgroundColor: 'teal'}">Save</md-button>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
