<nav-bar></nav-bar>
<div id="content" style="margin-top:50px">
    <div ng-cloak>
        <md-content class="col-lg-offset-3">
            <form name="newCampaignForm" ng-submit="addAccount()" >
                <md-content class="md-padding" layout-xs="column" layout="row">
                   <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Bank Account Details </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                        <div class="box-body">
                            <label>My Account Details</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="Account.AccountName" placeholder="Account holder Name">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Account Type</label>
                                        <select class="form-control" style="width: 100%;" ng-model="Account.AccountType" tabindex="-1" aria-hidden="true">
                                            <option>{{AccountType}}</option>
                                            <option>Savings Account</option>
                                            <option>Cheque Account</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <select class="form-control" style="width: 100%;" ng-model="Account.BankName" tabindex="-1" aria-hidden="true">
                                            <option value="Province">Select Your Bank</option>
                                            <option value="Eastern Cape">ABSA</option>
                                            <option value="Free State">Capitec</option>
                                            <option value="Gauteng">FNB</option>
                                            <option value="Kwazulu Natal">Nedbank</option>
                                            <option value="Limpopo">Standard Bank</option>
                                            <option value="Mpumalanga">African Bank</option>
                                            <option value="Northen Cape">Bidvest Bank</option>
                                            <option value="North West">Investec Bank</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Account Number</label>
                                        <input type="number" ng-model="Account.AccountNumber" class="form-control">
                                    </div>
                              </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Branch Name</label>
                                    <input type="text" ng-model="Account.BranchName" class="form-control">
                                </div>
                            </div>
                           </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Brach Code</label>
                                        <input type="number" ng-model="Account.BranchCode" name="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-success" md-colors="{backgroundColor: 'green'}" ng-click="addAccount()">Save Account</md-button>
                            </md-card-actions>
                        </md-card>
                </md-content>
                   
           </form>
        </md-content>
    </div>
</div>