<nav-bar></nav-bar>
<div id="content" style="margin-top:50px">
    <div ng-cloak>
        <md-content>
            <form name="newCampaignForm" ng-submit="addStudentCampaign()">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content layout-padding>
                        <div class="row">
                            <div class="col-md-8" style="background-color:white;">
                                <h4>Campaign Title</h4>
                                <input id="txtTitle" placeholder="Choose a catchy title for you campaign" ng-model="campaign.CampaignName" class="form-control" />
                                <h4>Campaign Caption</h4>
                                <input id="txtCaption" placeholder="Use 140 characters to describe this campaign." ng-maxlength="140" ng-model="campaign.Tagline" class="form-control" />
                                <h4>Campaign Type</h4>
                                <select name="campaignType" ng-model="campaign.Type" placeholder="selee" class="form-control">
                                    <option value="Books">Books</option>
                                    <option value="excursion">excursion</option>
                                    <option value="Food">Food</option>
                                </select>
                                <h4>Campaign Location</h4>
                                <select name="provinces" ng-model="campaign.location" class="form-control">
                                    <option value="Province">Province</option>
                                    <option value="Eastern Cape">Eastern Cape</option>
                                    <option value="Free State">Free State</option>
                                    <option value="Gauteng">Gauteng</option>
                                    <option value="Kwazulu Natal">Kwazulu Natal</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Mpumalanga">Mpumalanga</option>
                                    <option value="Northen Cape">Northen Cape</option>
                                    <option value="North West">North West</option>
                                    <option value="Western Cape">Western Cape</option>
                                </select>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Campaign Start Date</h4><input type="date" ng-model="campaign.startDate" name="date" class="form-control">
                                    </div>

                                    <div class="col-md-6">
                                        <h4>Campaign Due Date</h4><input type="date" name="date" ng-model="campaign.endDate" class="form-control">
                                    </div>
                                </div>
                                <h4>Campaign Image</h4>
                                <input placeholder="Choose an image for your campaign" type="file" style="text-align:center; color:aqua;" ng-model="campaign.PicturePath" class="form-control" />
                               <!-- <h4>Campaign Video</h4>-->
                                <!--<input placeholder="Choose an video for your campaign" type="file" style="text-align:center; color:aqua;" ng-model="campaign.videoPath" class="form-control" />-->
                            </div>
                            <div class="col-md-4" >

                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" src="/Images/Campaigns/{{campaign.PicturePath}}" ng-model="PicturePath" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p><span class="glyphicon glyphicon-map-marker">{{campaign.location}}</span></p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab> <!-- Campaign Details Section-->
                <md-tab label="Target Amount">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-md-8" style="background-color: white;">
                                <div ng-cloak>
                                        <h3>
                                          Drag Target Amount 
                                        </h3>
                                        <md-slider-container>
                                            <span></span>
                                            <md-slider flex min="100" step="100" max="30000" ng-model="campaign.AmountRequired">
                                            </md-slider>
                                        </md-slider-container>
                                           
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input ng-model="campaign.AmountRequired">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" src="/Images/Campaigns/{{campaign.PicturePath}}" ng-model="campaign.PicturePath" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p><span class="glyphicon glyphicon-map-marker">{{campaign.location}}</span></p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{100}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab><!--Campaign Target Amount Section-->
                <md-tab label="Campaign Story">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-md-8" style="background-color: white;">
                                <h4 style="margin-left:20px">Tell us about your campaign</h4>
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="16" cols="200" ng-model="campaign.Description" placeholder="Tell the your story..."></textarea>
                                    <br />
                                </div>

                            </div>
                            <div class="col-md-4" >

                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" src="/Images/Campaigns/{{campaign.PicturePath}}" ng-model="PicturePath" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p><span class="glyphicon glyphicon-map-marker">{{campaign.location}}</span></p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab><!--Campaign story Section-->

                <md-tab label="Campaign Preview">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="panel panel-info col-lg-8 col-lg-offset-2" style="margin-top:20px">
                                <p class="panel-heading">{{campaign.CampaignName}}</p>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="thumbnail" style="background-color:lightgray">
                                                <img class="img-rounded" ng-src="/Images/Campaigns/{{campaign.PicturePath}}" ng-model="campaign.PicturePath" alt="campagin picture" width="250">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div>
                                                <h1>{{campaign.NumberOfContributers}}</h1>
                                                <h5>Supporters</h5>

                                                <div>
                                                    <h1>R{{campaign.AmountContributed}}.00</h1>
                                                    <h5>Raised of R{{campaign.AmountRequired}}.00</h5>
                                                </div>

                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}%">
                                                        <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}% Complete</span>
                                                        <output></output>
                                                    </div><br>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <h3>{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}%</h3>
                                                        <b class="small">Funded</b>
                                                    </div>
                                                    <div class="col-lg-6 center">
                                                        <h3 align="centre">R{{campaign.AmountContributed}}.00</h3>
                                                        <b class="small centre">Contributed</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p style="margin-left:15px">
                                            {{campaign.Description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success pull-right" value="Finish" />
                    </md-content>
                </md-tab><!--Preview Section-->
            <input type="submit" class="btn btn-info" />
            </md-tabs>
           </form>
        </md-content>
    </div>
</div>