<nav-bar></nav-bar>
<div id="content">
    <md-toolbar class="md-table-toolbar" md-colors="{backgroundColor: 'teal-300'}">
        <div class="md-toolbar-tools">
            <span>Add Campaign</span>
        </div>
    </md-toolbar>
    <div ng-cloak>

        <form name="newCampaignForm" ng-submit="addStudentCampaign()">
            <md-tabs md-dynamic-height md-border-bottom>

                <md-tab label="Details">
                    <md-content class="md-padding">
                        <div class="col-lg-12">
                            <div class="col-lg-8" style="background-color:white;">
                                <md-content class="md-padding">
                                    <div class="box-body">
                                        <label>My Campaign Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="campaign.CampaignName" placeholder="Campaign Name or Title">
                                        </div>
                                        <label>Campaign Tagline</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="campaign.Tagline" placeholder="Campaign Name or Title">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Campaign Type</label>
                                                    <select class="form-control" style="width: 100%;" ng-model="campaign.CampaignType" tabindex="-1" aria-hidden="true">
                                                        <option>Select Account Type</option>
                                                        <option>Art</option>
                                                        <option>Books</option>
                                                        <option>Excursion</option>
                                                        <option>Food</option>
                                                        <option>Journalism</option>
                                                        <option>Music</option>
                                                        <option>Publishing</option>
                                                        <option>Sports</option>
                                                        <option>Theater</option>
                                                        <option>Technology</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Location</label>
                                                    <select class="form-control" style="width: 100%;" ng-model="campaign.Location" tabindex="-1" aria-hidden="true">
                                                        <option value="Province">Province</option>
                                                        <option value="Eastern Cape">Eastern Cape</option>
                                                        <option value="Free State">Free State</option>
                                                        <option value="Gauteng">Gauteng</option>
                                                        <option value="Kwazulu Natal">Kwazulu Natal</option>
                                                        <option value="Limpopo">Limpopo</option>
                                                        <option value="Mpumalanga">Mpumalanga</option>
                                                        <option value="Northen Cape">Northen Cape</option>
                                                        <option value="North West">North West</option>
                                                        <option value="Western Cape">Western Cape</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Campaign Start Date</label>
                                                    <div flex-gt-xs>
                                                        <md-datepicker ng-model="campaign.startDate" md-placeholder="Pick a Date"></md-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Campaign Due Date</label>
                                                    <div flex-gt-xs>
                                                        <md-datepicker ng-model="campaign.endDate" md-placeholder="Pick a Date"></md-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Campaign Picture</label><br />
                                                <div class="fileUpload btn btn-primary">
                                                    <span>Upload</span>
                                                    <input id="uploadIDBtn" type="file" ng-model="campaign.PicturePath" class="upload" ng-file-select="prepareVideo($files)" />
                                                </div>

                                                <input id="uploadIDFile" type="text" ng-model="campaign.PicturePath" placeholder="Campaign Image" disabled="disabled" />
                                                <label>File uploaded is {{campaign.PicturePath}}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label>Campaign Video</label><br />
                                                <div class="fileUpload btn btn-primary">
                                                    <span>Upload</span>
                                                    <input id="uploadVideoBtn" type="file" ng-model="campaign.VideoPath" class="upload" ng-file-select="prepareVideo($files)" />
                                                </div>

                                                <input id="uploadIDVideoFile" type="text" ng-model="campaign.VideoPath" placeholder="Campaign Image" disabled="disabled" />
                                                <label>File uploaded is {{campaign.VideoPath}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" ng-src="../../../../../Content/BursifyUploads/{{campaign.StudentId}}/images/{{campaign.PicturePath}}" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p style="margin-top:-20px">{{campaign.Tagline}}</p>
                                        <p><span class="glyphicon glyphicon-map-marker"></span>{{campaign.Location}}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <md-button class="md-raised md-success pull-right" md-colors="{backgroundColor: 'green'}">Next</md-button>
                        </div>
                    </md-content>
                </md-tab> <!-- Campaign Details Section-->

                <md-tab label="Target Amount" id="amount">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-md-8" style="background-color: white;">
                                <div ng-cloak>
                                    <h3>
                                        Drag Target Amount
                                    </h3>
                                    <md-slider-container ng-disabled="campaign.AmountRequired">
                                        <span></span>
                                        <md-slider flex min="100" step="100" max="30000" ng-model="campaign.AmountRequired" >
                                        </md-slider>
                                    </md-slider-container>

                                    <div class="col-lg-2 col-lg-offset-6" ng-disabled="campaign.AmountRequired">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input ng-model="campaign.AmountRequired">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">


                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" ng-src="../../../../../Content/BursifyUploads/{{campaign.StudentId}}/images/{{campaign.PicturePath}}" ng-model="PicturePath" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p style="margin-top:-20px">{{campaign.Tagline}}</p>
                                        <p><span class="glyphicon glyphicon-map-marker"></span>{{campaign.Location}}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-button class="md-raised md-success pull-right" md-colors="{backgroundColor: 'green'}">Next</md-button>
                        </div>
                    </md-content>
                </md-tab><!--Campaign Target Amount Section-->

                <md-tab label="Campaign Story">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-md-8" style="background-color: white;">
                                <h4 style="margin-left:20px">Tell us about your campaign</h4>
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="16" cols="200" ng-model="campaign.Description" placeholder="Tell the your story..."></textarea>
                                    <br />
                                </div>

                            </div>
                            <div class="col-md-4">


                                <div class="thumbnail" style="background-color:white">

                                    <img class="img-rounded" ng-src="../../../../../Content/BursifyUploads/{{campaign.StudentId}}/images/{{campaign.PicturePath}}" ng-model="PicturePath" alt="campagin picture" style="width:100%;height:200px;">
                                    <div class="caption">
                                        <b>{{campaign.CampaignName}}</b><br>
                                        <small>{{StudentName}}</small><br><br>
                                        <p style="margin-top:-20px">{{campaign.Tagline}}</p>
                                        <p><span class="glyphicon glyphicon-map-marker"></span>{{campaign.Location}}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}">
                                                <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}</span>
                                                <output></output>
                                            </div><br>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <small>{{(campaign.AmountContributed / campaign.AmountRequired) * 100 | number:0}}%</small>
                                                <b><small>Funded</small></b>
                                            </div>
                                            <div class="col-md-6 center">
                                                <small align="centre">R{{campaign.AmountContributed}}.00</small>
                                                <b><small class="centre">Contributed</small></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-button class="md-raised md-success pull-right" md-colors="{backgroundColor: 'green'}">Next</md-button>
                        </div>
                    </md-content>
                </md-tab><!--Campaign story Section-->

                <md-tab label="Campaign Preview">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="panel panel-info col-lg-8 col-lg-offset-2" style="margin-top:20px">
                                <p class="panel-heading">{{campaign.CampaignName}}</p>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="thumbnail" style="background-color:lightgray">
                                                <img class="img-rounded" ng-src="../../../../../Content/BursifyUploads/{{campaign.StudentId}}/images/{{campaign.PicturePath}}" ng-model="campaign.PicturePath" alt="campagin picture" width="250">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div>
                                                <h1>{{campaign.NumberOfContributers}}</h1>
                                                <h5>Supporters</h5>

                                                <div>
                                                    <h1>R{{campaign.AmountContributed}}.00</h1>
                                                    <h5>Raised of R{{campaign.AmountRequired}}.00</h5>
                                                </div>

                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{campaign.AmountContributed}}" aria-valuemin="0" aria-valuemax="{{campaign.AmountRequired}}" style="width:{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}%">
                                                        <span class="sr-only">{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}% Complete</span>
                                                        <output></output>
                                                    </div><br>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <h3>{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}%</h3>
                                                        <b class="small">Funded</b>
                                                    </div>
                                                    <div class="col-lg-6 center">
                                                        <h3 align="centre">R{{campaign.AmountContributed}}.00</h3>
                                                        <b class="small centre">Contributed</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p style="margin-left:15px">
                                            {{campaign.Description}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                <md-button  class="md-raised md-success pull-right" md-colors="{backgroundColor: 'green'}" ng-click="editStudentCampaign()">Finish</md-button>
                    </md-content>
                </md-tab><!--Preview Section-->

            </md-tabs>
        </form>
    </div>
</div>