    <!--Displaying all the campaigns -->
<nav-bar></nav-bar>

<div id="content">
    <md-toolbar class="md-table-toolbar" md-colors="{backgroundColor: 'LIME'}">
        <div class="md-toolbar-tools">
            <a ng-href="#/student/campaigns"><span style="margin-right:15px"><i class="fa fa-arrow-left btn-3d backarrow"></i></span></a>
            <span>Edit My Campaigns</span>
        </div>
    </md-toolbar>
    <div class="col-lg-12 ">
        .
        <div class="row">
            <form id="editform" ng-submit="">
                <div flex-xs flex-gt-xs="50" layout="column" height="100%" ng-repeat="campaign in campaigns" ng-if="campaign.Status == 'Active'" class="col-lg-4">
                    <md-card style="height: 535px;">
                        <a ng-href="#/student/campaign-progress/{{campaign.CampaignId}}"> <img style="height:250px;width: 370px;" ng-src="Content/BursifyUploads/{{campaign.StudentId}}/images/{{campaign.PicturePath}}" class="md-card-image" alt="campaign.jpg"></a>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{campaign.CampaignName}}</span>
                                <small>{{campaign.Name + ' '+  campaign.Surname}}</small><br>
                        </md-card-title>
                        <md-card-content>
                            <br />
                            <br />
                            <p style="height: 36px;">{{campaign.Tagline}}</p>
                            <p><span class="glyphicon glyphicon-map-marker"></span>{{campaign.Location}}</p>

                            <md-progress-linear md-mode="determinate" value="{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}"></md-progress-linear>
                            <div class="row">
                                <div class="col-md-9">
                                    <br />
                                    <small>{{(campaign.AmountContributed / campaign.AmountRequired)*100 | number:0}}%</small><br />
                                    <b><small>Funded</small></b>
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <small>R{{campaign.AmountContributed}}</small><br />
                                    <b><small>Funded</small></b>
                                </div>
                            </div>
                            
                            <div class="row">
                                    <div class="col-md-8">
                                        <md-button ng-href="#/student/edit-campaign/{{campaign.CampaignId}}" style="margin-left:-18px">
                                            <md-icon md-svg-icon="Content/img/icons/ic_mode_edit_black_24px.svg"></md-icon>
                                            <md-icon  md-svg-icon="Content/img/icons/../../../../../Content/img/icons/ic_mode_edit_black_24px.svg" style="width: 24px; height: 24px;margin-left:30px"></md-icon>
                                                Edit
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                        <md-button class="" style="margin-right:-40px" type="submit"  ng-click="removeCampaign(campaign.CampaignId)" ng-if="campaign.AmountContributed == 0">
                                             <md-icon md-svg-icon="Content/img/icons/ic_delete_forever_black_24px.svg" style="width: 24px; height: 24px;margin-left:-25px"></md-icon>
                                            <md-icon md-svg-icon="Content/img/icons/ic_delete_forever_black_24px.svg"></md-icon>
                                            <md-tooltip style="margin-top:-20px">
                                                Delete
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </md-content>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </form>
        </div>
    </div>
</div>